# Problem Statement
Google Brain - Ventilator Pressure Prediction
Simulate a ventilator connected to a sedated patient's lung

In [1]:
#Lets create seperae model for every breathid

In [2]:
import pandas as pd

In [3]:
train_data=pd.read_csv('D:\\Kaggle Projects\\Ventilator pressure prediction\\train.csv')

In [4]:
train_data.head()

   id  breath_id   R   C  time_step       u_in  u_out   pressure
0   1          1  20  50   0.000000   0.083334      0   5.837492
1   2          1  20  50   0.033652  18.383041      0   5.907794
2   3          1  20  50   0.067514  22.509278      0   7.876254
3   4          1  20  50   0.101542  22.808822      0  11.742872
4   5          1  20  50   0.135756  25.355850      0  12.234987

In [5]:
train_data.tail()

              id  breath_id   R   C  time_step      u_in  u_out  pressure
6035995  6035996     125749  50  10   2.504603  1.489714      1  3.869032
6035996  6035997     125749  50  10   2.537961  1.488497      1  3.869032
6035997  6035998     125749  50  10   2.571408  1.558978      1  3.798729
6035998  6035999     125749  50  10   2.604744  1.272663      1  4.079938
6035999  6036000     125749  50  10   2.638017  1.482739      1  3.869032

In [6]:
train_data.shape

(6036000, 8)

In [7]:
test_data=pd.read_csv('D:\\Kaggle Projects\\Ventilator pressure prediction\\test.csv')

In [8]:
test_data.head(10)

   id  breath_id  R   C  time_step       u_in  u_out
0   1          0  5  20   0.000000   0.000000      0
1   2          0  5  20   0.031904   7.515046      0
2   3          0  5  20   0.063827  14.651675      0
3   4          0  5  20   0.095751  21.230610      0
4   5          0  5  20   0.127644  26.320956      0
5   6          0  5  20   0.159557  30.486938      0
6   7          0  5  20   0.191471  33.545950      0
7   8          0  5  20   0.223402  35.717600      0
8   9          0  5  20   0.255337  36.971061      0
9  10          0  5  20   0.287230  37.542219      0

In [9]:
len(test_data['breath_id'].unique())

50300

In [10]:
test_data.tail()

              id  breath_id   R   C  time_step      u_in  u_out
4023995  4023996     125748  20  10   2.530117  4.971245      1
4023996  4023997     125748  20  10   2.563853  4.975709      1
4023997  4023998     125748  20  10   2.597475  4.979468      1
4023998  4023999     125748  20  10   2.631134  4.982648      1
4023999  4024000     125748  20  10   2.665301  4.985373      1

In [11]:
test_data.shape

(4024000, 7)

In [12]:
train_data.isnull().sum()

id           0
breath_id    0
R            0
C            0
time_step    0
u_in         0
u_out        0
pressure     0
dtype: int64

In [13]:
test_data.isnull().sum()

id           0
breath_id    0
R            0
C            0
time_step    0
u_in         0
u_out        0
dtype: int64

In [14]:
print('breah_id: ',train_data['breath_id'].unique())
print('R',train_data['R'].unique())
print('C',train_data['C'].unique())
print('time_step: ',train_data['time_step'].unique())
print('u_in: ',train_data['u_in'].unique())
print('u_out: ',train_data['u_out'].unique())

breah_id:  [     1      2      3 ... 125743 125745 125749]
R [20 50  5]
C [50 20 10]
time_step:  [0.         0.03365231 0.06751442 ... 2.57140756 2.60474443 2.63801742]
u_in:  [ 0.08333401 18.38304147 22.50927777 ...  1.55897786  1.27266322
  1.48273915]
u_out:  [0 1]

In [15]:
train_data.corr()['pressure']

id          -0.002402
breath_id   -0.002394
R            0.015976
C           -0.036727
time_step   -0.524829
u_in         0.308136
u_out       -0.614910
pressure     1.000000
Name: pressure, dtype: float64

In [16]:
X=train_data.drop(columns=['id','pressure'],axis=1)
y=train_data['pressure']

In [ ]:
#time step increase then U_in also increase new feature= time_step - (u_in*0.001)

In [17]:
#Wanna create more features so we use here polynomial feature
from sklearn.preprocessing import PolynomialFeatures

In [18]:
poly=PolynomialFeatures(interaction_only=True,include_bias=False)

In [19]:
X1=poly.fit_transform(X)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X1,y,test_size=0.2,random_state=40)

In [22]:
from sklearn.metrics import r2_score

In [23]:
import xgboost as xgb

In [24]:
xg=xgb.XGBRegressor(colsample_bytree = 0.40, learning_rate = 0.25,
                max_depth =10, n_estimators =250,n_jobs=-1)

In [25]:
xg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.25, max_delta_step=0, max_depth=12,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=250, n_jobs=-1, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='approx', validate_parameters=1, verbosity=None)

In [29]:
pred2=xg.predict(X_test)

In [30]:
r2_score(pred2,y_test)

0.6962904790629483

In [ ]:
test_data.drop(columns=['id'],axis=1,inplace=True)

In [33]:
test1=poly.fit_transform(test_data)

In [34]:
xgb_pred=xg.predict(test1)

In [35]:
# create sample submission file and submit
predict1=pd.DataFrame(xgb_pred)
sub_df1=pd.read_csv('D:\\Kaggle Projects\\Ventilator pressure prediction\\sample_submission.csv')
dataset1=pd.concat([sub_df1['id'],predict1],axis=1)
dataset1.columns=['id','pressure']
dataset1.to_csv('xgb7_submission.csv',index=False)